@charset "UTF-8";

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
     body{
        background-color: blueviolet;
     }
}